@{
    ViewData["Title"] = "Home Page";
}

<body id="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://lucashuls.nl/img/logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Klasse 1</h5>
                        <p class="card-text">Volkswagen Golf</p>
                        <a href="#" class="btn btn-primary">Reserveer</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://lucashuls.nl/img/logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Klasse 2</h5>
                        <p class="card-text">Volkswagen Golf</p>
                        <a href="#" class="btn btn-primary">Reserveer</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://lucashuls.nl/img/logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Klasse 3</h5>
                        <p class="card-text">Volkswagen Golf</p>
                        <a href="#" class="btn btn-primary">Reserveer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h1 class="backgroundtitle">Rent A Car</h1>
            <h1 class="backgroundsubtitle">Geniet van uw vakantie met onze voertuigen</h1>
        </div>
    </div>
</body>
